*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */
#green{
    color: #0bd6a1;
}
#red{
    color: #f0466f;
}
h1{
    margin-bottom: 2rem;
    text-align: center;
}
div{
    margin-bottom: 1rem;
    text-align: center;
}
